section{
    background-color: #e9ecf0;
}
.login{
    box-shadow: -6px 7px 23px -1px rgba(161,174,214,0.7);
    width: 50%;
    background-color: #ffffff;
}
.logo{
    width: 10%;
}
.loginWord{
    color: #056aff;
}
.btn{
    background-color: #056aff;
}
.register{
    color: #056aff;
    cursor: pointer;
}
.star {
 color: red;
}
.errorAlert{
    color: red;
    font-size: 13px;
}
