<div class="container pt-4 h-100 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <i class="fa-solid fa-bell me-3" style="color: #056aff;"></i>
        <i class="fa-solid fa-gear" style="color: #056aff;"></i>
      </div>
      <div class="userData d-flex justify-content-center">
        <div class=" me-2 mt-2">
            <p class="fw-bold text-center text-capitalize">
                {{userInfo.first_name}} {{userInfo.last_name}}
            </p>
            <p class="text-muted text-center text-capitalize">
               {{userInfo.role}}
            </p>
        </div>
        <div class=" image">
            <img  src="assets/imgs/profile.jpeg" alt="">
        </div>
      </div>
    </div>
    <div>
        <h2>{{dataFromParent}}</h2>
    <h3 class="">
        Upcoming Activities
    </h3>
    <div class="scrollable">
        <div class="d-flex justify-content-center mb-3 me-1 align-items-center activity1 pe-2 ps-2 pt-2 rounded-3">
            <div class="number d-flex justify-content-center align-items-center me-3">8</div>
            <div>
                <p class="fw-bold">Returning Student Assessments</p>
                <p class="text-muted small">8th - 10th July 2024</p>
                <p class="text-muted small">Room 301, Elrashdeen school.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3 me-1 align-items-center activity2 pe-2 ps-2 pt-2 rounded-3">
            <div class="number2 d-flex justify-content-center align-items-center me-3">13</div>
            <div>
                <p class="fw-bold">Grade 4 -English Exam</p>
                <p class="text-muted small">8th - 10th July 2024</p>
                <p class="text-muted small">Room 301, Elrashdeen school.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center me-1 mb-3 align-items-center activity3 pe-2 ps-2 pt-2 rounded-3">
            <div class="number3 d-flex justify-content-center align-items-center me-3">8</div>
            <div>
                <p class="fw-bold">Classroom Materials Update</p>
                <p class="text-muted small">8th - 10th July 2024</p>
                <p class="text-muted small">Room 301, Elrashdeen school.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center me-1 mb-3 align-items-center activity4 pe-2 ps-2 pt-2 rounded-3">
            <div class="number4 d-flex justify-content-center align-items-center me-3">22</div>
            <div>
                <p class="fw-bold">Returning Student Assessments</p>
                <p class="text-muted small">8th - 10th July 2024</p>
                <p class="text-muted small">Room 301, Elrashdeen school.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center me-1 mb-3 align-items-center activity1 pe-2 ps-2 pt-2 rounded-3">
            <div class="number d-flex justify-content-center align-items-center me-3">5</div>
            <div>
                <p class="fw-bold">Upload Corrected Assignments</p>
                <p class="text-muted small">8th - 10th July 2024</p>
                <p class="text-muted small">Room 301, Elrashdeen school.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3 me-1 align-items-center activity2 pe-2 ps-2 pt-2 rounded-3">
            <div class="number2 d-flex justify-content-center align-items-center me-3">8</div>
            <div>
                <p class="fw-bold">Returning Student Assessments</p>
                <p class="text-muted small">8th - 10th July 2024</p>
                <p class="text-muted small">Room 301, Elrashdeen school.</p>
            </div>
        </div>
    </div>
    </div>
</div>
