
.searchBar{
    background-color:white ;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
}
.btn{
    background-color: rgba(5, 106, 255, 1);
}
.title{
    color: #056AFF;
}
.action{
    cursor: pointer;
}
.scrollable{
    height: 400px !important;
    overflow-y: auto !important; 
}
.scrollable::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    
}

.scrollable::-webkit-scrollbar-thumb {
    background: #056AFF; /* Scrollbar color */
    border-radius: 5px; /* Rounded corners */
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar color on hover */
}
.layer{
    background-color: rgba(0,0,0,0.5);
}